<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}CupClub{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body border-bottom">
            <div class="container">
                <a class="navbar-brand text-success fs-2" href="{% url 'capper-list' %}">
                    <i class="fa-solid fa-futbol"></i>
                    CupClub
                </a>
                <ul class="navbar-nav">
                    {% if user.capper%}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'subscriber-list' %}">Subscribers</a>
                    </li>
                    {% elif user.subscriber %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'capper-list' %}">Cappers</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mt-5">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2eaa7647cc.js" crossorigin="anonymous"></script>
</body>

</html>
